<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <block name="title"><title>标题</title></block>
    <link rel="stylesheet" href="__LIBS__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__LIBS__/flat-ui/css/flat-ui.min.css">
    <block name="css"></block>
</head>
<body>
<block name="signature">签名加搜索栏</block>
<block name="nav"> 顶部导航</block>
<block name="main"><include file="public:main" />主要内容</block>
<block name="right"><include file="public:right" />右侧菜单</block>
<block name="footer"><include file="public:footer" />底部版权栏</block>
</body>
</html>