/**
 * Created by freddy.
 * Usage: Global variables in order to unified change
 * Date: 2015/10/2
 * Time: 0:20
 */

// nav container background color
$navBackColor:#2ECC71;

//nav menu color
$menuLiColor:#16A085;

//nav bar height
$menuHeight: 80px;

//nav menu height
$menuLiHeight:40px;

//signature height
$signatureHeight:110px;
$signatureBackgroundColor:red;




